{% extends 'base1.html' %}
{% block title %}Database List{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Database List</h3></div>
                    <div class="card-body">
                        <form method="post" action="{% url 'show_all_tables' %}">
                            {% csrf_token %}
                            <label for="selected_database">Select Database:</label>
                            <select name="selected_database" class="form-select" id="selected_database">
                                {% for database in databases %}
                                    <option value="{{ database }}">{{ database }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary mt-3">Select</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}