{% extends 'base.html' %}
{% block title %}Tables{% endblock %}

{% block content %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
    .center {
        text-align: center;
    }
</style>

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'charts_view'%}">Charts</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card center mb-4">
            <h3>Table Name - {{ selected_table }}</h3>
        </div>
        <div class="card center mb-4">
            <br>
            <div class="center" style="overflow-x: auto;">
                <div style="max-height: 300px; overflow-y: auto;">
                    <table id="myTable">
                        <thead>
                            <tr>
                                {% for column in columns %}
                                    <th>{{ column }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table_data %}
                                <tr>
                                    {% for cell in row %}
                                        <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    window.addEventListener('DOMContentLoaded', event => {
        const dataTable = new simpleDatatables.DataTable("#myTable");

    });
</script>

{% endblock %}